table, th, td {
    border: 1px solid black;
	    text-align: center;
		border-collapse: collapse;
		padding: 5px;
}
p{
	text-align:center;
}
.form-control{
	position:absolute;
	 right: 0;
	left:50px;

	
}
.background-image{
	 position: fixed;
	 display: block;
	background-image:url(bg.jpg);
	filter:blur(5px);
	width: 100%;
	height: 100%;
}
.content{
	position: fixed;
	 left: 0;
  right: 0;

	
}
